<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 animate__animated animate__fadeIn">
        <h6>About</h6>
        <p class="text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>

      <div class="col-xs-6 col-md-3 animate__animated animate__fadeIn">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3 animate__animated animate__fadeIn">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12 animate__animated animate__fadeIn">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
          <a href="#">SiteName</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- End Site footer -->