<div class="titlebar" style="background-image: url(/assets/img/breadcrumb-img.jpeg);">
    <div class="titlebar-inner">
        <div class="container">
            <div class="row">
                <div class="titlebar-col col-md-12 animate__animated animate__fadeInLeft">
                    <h1>{{'header.circulars' | translate}}</h1>
                    <nav role="navigation" aria-label="Breadcrumbs" class="breadcrumbs" *ngIf="showbreadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink='/circulars'>{{'header.home' | translate}}</a></li>
                            <li class="breadcrumb-item active">
                                <i *ngIf="isArabic()" class="fas fa-chevron-left"></i>
                                <i *ngIf="isEnglish()" class="fas fa-chevron-right"></i>
                                <span>{{'header.circulars' | translate}}</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>