<app-toaster *ngFor="let toast of toasts; let i=index" 
[toast]="toast" [i]="i"
(remove)="remove($event)"></app-toaster>

<pre>toast$: {{ this.toast$ | async | json }}</pre>
<pre>toasts: {{ toasts | json }}</pre>