[dir="rtl"] {
  .dropdown-menu.show {
    left: -140px !important;
  }
}
.description {
  height: 100px;
  max-height: 300px;
}
.file-input {
  display: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #2fab99 !important;
  border-color: #2fab99 !important;
}
.error {
  border: 1px #842029 solid;
  background-color: #f8d7da;
}
.hijri-gregorian-datepicker {
  .input-group-append {
    .active {
      background-color: #2fab99 !important;
    }
    .btn-outline-info {
      color: black;
    }
    .btn-outline-info:hover {
      background-color: #2fab99 !important;
    }

    .btn {
      border: 1px solid #2fab99 !important;
      border-radius: 0px !important;
      height: 35px !important;
    }
    .btn-check:active + .btn-info:focus,
    .btn-check:checked + .btn-info:focus,
    .btn-info.active:focus,
    .btn-info:active:focus,
    .show > .btn-info.dropdown-toggle:focus {
      box-shadow: none !important;
    }
  }
  .ngb-dp-weekday {
    width: 3rem !important;
  }
  .ngb-dp-day {
    width: 3rem !important;
  }
}
