<h6 class="card-title">{{'circularform.new' | translate}}</h6>
<ng-container *ngIf="!isloading; else spinner">
<form #addcircular="ngForm" (ngSubmit)='savecircular(addcircular)'>
    <div class="form-group">
        <label for="circular_number">{{'circularform.number' | translate}}</label>
        <input type="text" class="form-control" id="circular_number"
            placeholder="{{'circularform.numberplaceholder' | translate}}" id="circular_number" required
            [(ngModel)]="circular.number" name="circular_number" maxlength="10"
            [ngClass]="{ 'error':  addcircular.controls.circular_number?.touched && !addcircular.controls.circular_number.valid }">
        <!-- <div *ngIf="addcircular.controls.circular_number?.touched">
            <div *ngIf="!addcircular.controls.circular_number.valid" class="alert alert-danger">
                Number is required
            </div>
        </div> -->
    </div>
    <div class="form-group">
        <label for="circular_title">{{'circularform.title' | translate}}</label>
        <input type="text" class="form-control" id="circular_title"
            placeholder="{{'circularform.titleplaceholder' | translate}}" [(ngModel)]="circular.title"
            name="circular_title" required maxlength="500"
            [ngClass]="{ 'error':  addcircular.controls.circular_title?.touched && !addcircular.controls.circular_title.valid }">
        <!-- <div *ngIf="addcircular.controls.circular_title?.touched">
            <div *ngIf="!addcircular.controls.circular_title.valid" class="alert alert-danger">
                Title is required
            </div>
        </div> -->

    </div>
    <div class="form-group">
        <label for="circular_description">{{'circularform.description' | translate}}</label>
        <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
        <textarea class="form-control description" id="circular_description" rows="5"
            placeholder=" {{'circularform.descriptionplaceholder' | translate}}" [(ngModel)]="circular.description"
            name="circular_description" maxlength="2000"
            [ngClass]="{ 'error':  addcircular.controls.circular_title?.touched && !addcircular.controls.circular_title.valid }">
        </textarea>
    </div>
    <div class="form-group">
        <div class="input-group col-xs-12" style="width: 50% !important;">
            <input type="file" class="form-control" accept="application/pdf"
                placeholder="{{ 'circularform.upload'| translate}}" (change)="onFileSelected($event)" id="circular_file"
                name="circular_file" required [(ngModel)]="file"
                [ngClass]="{ 'error':  addcircular.controls.circular_file?.touched && !file }">
            <!-- <div *ngIf="addcircular.controls.circular_file?.touched">
                <div *ngIf="!addcircular.controls.circular_file.valid" class="alert alert-danger">
                    File is required
                </div>
            </div> -->
        </div>


    </div>
    <div class="form-group" style="margin-bottom: 10px;">
        <div class="input-group col-xs-12 date-container">
            <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <input matInput [matDatepicker]="picker" id="circular_date" name="circular_date" required
                [(ngModel)]="circular.circular_date"
                [ngClass]="{ 'error':  addcircular.controls.circular_date?.touched && !addcircular.controls.circular_date.valid }"> -->

            <hijri-gregorian-datepicker class="hijri-gregorian-datepicker" [label]="'circularform.date' | translate"
                [(selectedDate)]="selectedDate" [isRequired]="true" [GregLabel]="'circularform.greg' | translate"
                [hijriLabel]=" 'circularform.hijri' | translate" [selectedDateType]="selectedDateType"
                [minHijri]="minhijri" [maxHijri]="maxhijri" [minGreg]="mingreg" #datePicker [maxGreg]='maxgreg'>
            </hijri-gregorian-datepicker>
            <!-- <div *ngIf="addcircular.controls.circular_date?.touched">
                <div *ngIf="!addcircular.controls.circular_date?.valid" class="alert alert-danger">
                    File is required
                </div>
            </div> -->
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button class="btn btn-primary" type="submit" [disabled]='!addcircular.valid'>{{'circularform.save' |
                translate}}</button>
        </div>
    </div>
</form>
</ng-container>
<ng-template #spinner>
    <mat-spinner class="centered-spinner"></mat-spinner>
  </ng-template>