<div class="titlebar" style="background-image: url(/assets/img/breadcrumb-img.jpeg);">
    <div class="titlebar-inner">
        <div class="container">
            <div class="row">
                <div class="titlebar-col col-md-12">
                    <h1>Admin Dashboard</h1>
                    <nav role="navigation" aria-label="Breadcrumbs" class="breadcrumbs">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">
                                <i class="fas fa-chevron-right"></i>
                                <span> Admin Dashboard</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-5">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <div class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" 
                    type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                    manage Circulars
                </div>
                <div class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" 
                    type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                    New Circulars
                </div>
                <div class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" 
                    type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                    manage About-Us
                </div>
            </div>
        </div>

        <div class="col-md-9 col-sm-7">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <div class="card">
                        <div class="card-body">
                           <app-circulars-list [isadmin]="true"></app-circulars-list> 
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="card">
                        <div class="card-body">
                           <app-add-circular></app-add-circular>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="card">
                        <div class="card-header">
                            <div class="col-sm-12 col-xs-12 h-left">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                Content 3
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- /.col tab content -->
    </div>
</div>