
<app-breadcrumb [showbreadcrumb]='false'></app-breadcrumb>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <app-circulars-list></app-circulars-list>
            </div>
        </div>
    </div>
</div>

