.action a {
  color: #2fab99 !important;
}
.page-item::before {
  content: none;
}
.action-cell {
  width: 5% !important;
}

.name-cell {
  width: 30%;
}

// [dir="rtl"] {
//     .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
//         text-align: right ;
//     }
// }

// .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
//     text-align: left ;
// }

.circulars-filter ul {
  background-color: #f5fcf9;
  margin: 10px 0;
  padding: 10px;
  list-style-type: none;
  li {
    display: inline-block;
    margin: 5px;
  }

  .year-filter {
    width: 120px;
  }
  .title-filter {
    width: 300px;
  }
}

.circulars-filter ul li::before {
  display: none;
}

.circulars-filter li input,
.circulars-filter li select {
  color: #005a4e;
  height: 35px;
  padding: 4px 10px;
  background: #f5fcf9;
  border: 1px solid rgb(49 171 152 / 50%);
  border-radius: 4px;
}

.ngx-pagination .current{
  background: #2fab99 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
background-color:  #76D7C4;

}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
  background-color: #2FAB99 !important;
}

.centered-spinner {
  margin: 32px auto;
}