<div class="card-body">
    <div class="circulars-filter">
        <ul>
           <li>
            <mat-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="checked"
          [disabled]="disabled">
        Slide me!
      </mat-slide-toggle>
        </li>
            <li class="year-filter">
                <select name="year" [(ngModel)]="year">
                    <option value="0">{{'search.selectyear' | translate}}</option>
                    <option *ngFor="let in of counter2(maxgreg_year-mingreg_year+1) ;let i = index" value="{{mingreg_year+i}}" selected="selected">{{mingreg_year+i}}</option>
                </select>
            </li>
            <li class="year-filter">
                <select name="year" [(ngModel)]="year">
                    <option value="0">{{'search.selectyear' | translate}}</option>
                    <option *ngFor="let in of counter(maxhijri_year-minhijri_year+1) ;let i = index" value="{{minhijri_year+i}}" selected="selected">{{minhijri_year+i}}</option>
                </select>
            </li>
            <li class="title-filter">
                <input type="text" name="keywords" placeholder="{{'search.searchby' | translate}}" [(ngModel)]="title"
                    class="textbox form-control">
            </li>
            <li>
                <button type="submit" class="btn btn-primary" (click)="search()">{{'search.search' |
                    translate}}</button>
            </li>

        </ul>
    </div>
    <div class="card-title">
        {{'header.circulars' | translate}}
    </div>
    <div class="table-responsive">
        <ng-container *ngIf="!isFetching; else spinner">
        <table class="table">
            <thead>
                <tr>
                    <th>{{'circularlist.num' | translate}}</th>
                    <th class="name-cell">{{'circularlist.title' | translate}}</th>
                    <th>{{'circularlist.description' | translate}}</th>
                    <th>{{'circularlist.size' | translate}}</th>
                    <th class="action-cell"></th>
                    <th class="action-cell"></th>
                    <th class="action-cell" *ngIf="isadmin"></th>
                    <!--<th class="btn-cell" *ngIf="isadmin"></th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let circular of circulars  | paginate
                : {
                    itemsPerPage: count,
                    currentPage: p,
                    totalItems: totalRecords
                  }; let i = index">
                    <th scope="row">{{circular.number}}</th>
                    <td> {{ circular.title }}</td>
                    <td>
                        <div class="description-td">{{ circular.description }}</div>
                    </td>
                    <td> {{ circular.filesize }}</td>
                    <td class="action">
                        <a [routerLink]="['/viewer',circular.path]" target="_blank">
                            <i class="fas fa-file-pdf text-success"></i></a>
                    </td>
                    <td class="action">
                        <a href="{{config.download}}{{circular.path}}">
                            <i class="fas fa-download"></i>
                        </a>
                    </td>
                    <td class="action" *ngIf="isadmin">
                        <a *ngIf="isadmin" (click)="delete(circular)"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center p-3">
            <pagination-controls class="justify-self-center" (pageChange)="onChange($event)"
                previousLabel="{{ 'pagination.Previous' | translate }}" nextLabel="{{ 'pagination.Next' | translate }}">
            </pagination-controls>
        
        </div>
    </ng-container>
    <ng-template #spinner>
        <mat-spinner class="centered-spinner"></mat-spinner>
      </ng-template>
    </div>

</div>
