<header id="header" class="mega-menu">
 

  <nav class="navbar navbar-expand-md navbar-light bg-light p-0">
    <div class="container">
      <a class="navbar-brand" routerLink="circulars">
        <img class="headerLogo" src="/assets/img/Logo.svg">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="circulars"><span> {{'header.circulars' | translate}} </span></a>
          </li>
          <li class="nav-item">
            <a routerLink="admin"><span>  {{'header.admindashboard' | translate}}  </span></a>
          </li>
          <li class="nav-item dropdown mega-menu-full">
            <a class="dropdown-toggle" routerLink="about" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{'header.about' | translate}} 
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="mega-menu-content">
                  <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 d-none d-lg-block ">
                      <img class="img-fluid" alt="DropheaderImg1" src="/assets/img/riyadh.png">
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="box">
                        <ul>
                          <li><a routerLink="about">{{'header.about' | translate}} </a>
                          </li>
                          <li><a href="circulars.html">{{'header.circulars' | translate}} </a>
                          </li>
                          <li><a href="#">Link</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="box">
                        <ul>
                          <li><a href="#">Link</a>
                          </li>
                          <li><a href="#">Link</a>
                          </li>
                          <li><a href="#">Link</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a (click)="switchLanguage()">{{switchto}} </a></li>
          <li><a routerLink="login"><i class="fas fa-user"></i> </a></li>
        </ul>
  
      </div>
    </div>
  </nav>
</header>